<footer>
    <a href="/imprint">Impressum</a>
    <a href="/privacy">Datenschutzerklärung</a>
    <span><i class="fa fa-copyright" aria-hidden="true"></i> ApolloDoener <time><%= new Date().getFullYear() %></time></span>
</footer>