<footer>
    <a href="/imprint">Impressum</a>
    <a href="/privacy">Datenschutzerklärung</a>
    <span><i class="far fa-copyright"></i> raffael.international <time><%= new Date().getFullYear() %></time></span>
</footer>
