<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="raffael.international Hauptseite"/>
        <meta name="keywords" content="Raffael, raffael.international, Doener, Main, Site" />

        <title>raffael.international</title>

        <%- include("partials/includes.ejs") %>
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.10"></script>
        <script src="javascripts/index.js"></script>
    </head>
    <body>
        <%- include("partials/nav.ejs") %>
        <header id="image-header">
            <div id="image-header-text">
              <h2><span id="typed">raffael.international</span></h2>
              <h4>Willkommen.</h4>
            </div>
        </header>

        <div id="contact">
            <p>Kontaktiere mich!</p>
            <a id="mail" href="mailto:me@raffael.international"><i class="fas fa-envelope fa-2x" aria-hidden="true"></i></a>
          </div>

        <%- include("partials/footer.ejs") %>
    </body>
</html>
