#image-header {
    background: url("../images/header.png") no-repeat;
    height: 100vh;
    text-align: center;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.73);}

#image-header-text {
    padding-top: 40vh;
}

#image-header h2 {
    font-size: 300%;
}

#image-header h4 {
    font-size: 150%;
}

#contact {
    -webkit-box-shadow: inset 0 5px 12px 0 rgba(0, 0, 0, 0.29);
    -moz-box-shadow:    inset 0 5px 12px 0 rgba(0, 0, 0, 0.29);
    box-shadow:         inset 0 5px 12px 0 rgba(0, 0, 0, 0.29);

    text-align: center;
    padding: 2.76% 0;
}

#contact p { font-size: 150%; }

#contact a {
    font-size: 125%;
    color: #777;
    padding: 0 1.3%;
    transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
}

#contact a:hover {
    text-decoration: none;
    transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
}

#mail:hover { color: #ff8c00; }
#github:hover { color: #333; }
#twitter:hover { color: #1da1f2; }
#youtube:hover { color: #cc181e; }

.typed-cursor {
  text-align: justify !important;
}
